<h1 class="page-header">物业报修与投诉管理</h1>
<ul class="link-group">
  <li>
    <%= link_to "物业员工管理", admin_staffs_path %>
  </li>
  <li>
    <%= link_to "业主管理", admin_householders_path %>
  </li>
</ul>
<div style="overflow:hidden;">
  <form action="<%= admin_complains_path %>" method="get" class="form-inline pull-left">
    <div class="form-group">
      <%= text_field_tag :name_or_tel, @name_or_tel, class: "form-control", placeholder: "姓名/手机号" %>
    </div>
    <div class="form-group">
      <%= date_field_tag :complain_date, @complain_date, class: "form-control" %>
    </div>
    <%= submit_tag "搜索", class: "btn btn-primary"%>
    <button type="reset" class="btn btn-default" >重置</button>
  </form>
  <%= link_to new_admin_complain_path,  :class => "btn btn-primary pull-right" do %>
    <span class="glyphicon glyphicon-plus"></span> 新建
  <% end %>
</div>

<div>
  <%= link_to "尚未处理", "#{admin_complains_path}?status=created", class: "#{'highlight' if @status.eql?('created')} filter-link" %>
  <%= link_to "处理中", "#{admin_complains_path}?status=processing", class: "#{'highlight' if @status.eql?('processing')} filter-link" %>
  <%= link_to "处理完", "#{admin_complains_path}?status=finished", class: "#{'highlight' if @status.eql?('finished')} filter-link" %>
</div>

<table class="table">
  <thead>
    <tr>
      <td>#</td>
      <td>日期</td>
      <td>类型</td>
      <td>状态</td>
      <td>姓名</td>
      <td>电话</td>
      <td>地址</td>
      <td>内容</td>
      <td>操作</td>
    </tr>
  </thead>
  <tbody>
    <% @complains.each_with_index do |complain, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= display_date complain.created_at %></td>
      <td><%= complain_type complain %></td>
      <td><%= complain_status complain %></td>
      <td><%= complain.contact_name %></td>
      <td><%= complain.contact_tel %></td>
      <td><%= truncate complain.contact_address, length: 12 %></td>
      <td><%= truncate complain.content, length: 20 %></td>
      <td>
        <%= link_to admin_complain_path(complain) do %>
        <span class="glyphicon glyphicon-eye-open icon"></span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="9">
        <%= page_info @complains %>
        <%= will_paginate @complains, page_links: false %>
      </td>
    </tr>
    </tfoot>
</table>
