<article class="row ng-cloak main" ng-cloak>
  <div class="order-detail">
    <section>
      <h2 class="pull-left inherit-height table-center-wrap"><span class="table-center">订单</span></h2>
      <a class="btn btn-lg pull-right highlight-link icon-link-left inherit-height" ng-href="/orders/all" style="position:relative;top:15px;padding-right:0">
        <span><i class="glyphicon glyphicon-arrow-left"></i>返回</span>
      </a>
    </section>
    <section>
      <h3>状态</h3>
      <div><%= order_status @order %></div>
    </section>
    <section>
      <h3>商品</h3>
      <table class="table" style="max-width: 600px">
        <thead>
          <tr>
            <th>数量</th><th>项目</th><th class="number-align">单价</th>
          </tr>
        </thead>
        <tbody>
          <% @order.orders_products.each do |orders_products| %>
          <tr>
            <td><%= orders_products.count %></td>
            <td><%= orders_products.product.name %></td>
            <td class="number-align"><%= number_to_currency orders_products.count*orders_products.price, locale: :'zh-CN', precision: 2 %></td>
          </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="number-align">
              总价：<%= number_to_currency @order.subtotal, locale: :'zh-CN', precision: 2 %>
            </td>
          </tr>
        </tfoot>
      </table>
    </section>
    <section>
      <h3>订单编号</h3>
      <div><%= @order.order_id %></div>
    </section>
    <section>
      <h3>付款方式</h3>
      <div><%= payment_name @order %></div>
    </section>
    <section>
      <h3>配送信息</h3>
      <address class="address">
        <div class="header">
          <span class="pull-left name"><%= @order.address.name %></span>
          <span class="pull-right"><%= phone_number @order.address.tel %></span>
        </div>
        <div><%= @order.address.state %><%= @order.address.city %><%= @order.address.street %></div>
      </address>
    </section>

    <section>
      <% unless @payment_params.nil? %>
        <% if @order.wechat? %>
        <div id="wechat_payment">
          <input type="hidden" id="appId" value="<%=@appid%>">
          <input type="hidden" id="orderId" value="<%=@order.id%>">
          <input type="submit" value="立即支付" class="btn btn-primary btn-block" ng-click="wechatPay()">
        </div>
        <% else %>
        <form action="<%=@alipay_url%>" method="get">
          <% @payment_params.each do |k, v| %>
            <%= hidden_field_tag k, v %>
          <% end %>
          <%= submit_tag "立即支付", class: "btn btn-primary btn-block" %>
        </form>
        <% end %>
      <% end %>

      <% if is_cancelable? @order %>
        <br>
        <a ng-click="cancel(<%=@order.id%>)" class="btn btn-danger btn-block">取消订单</a>
      <% end %>

    </section>
  </div>

</article>
