<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>拾惠社</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <link href="<%=image_url('favicon.ico')%>" rel="icon">
    <%= stylesheet_link_tag "gift", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-me">
      <h2 style="color:#fff;font-weight:bolder;width:100%;text-align:center;margin:0;font-size:27px;">
        拾惠社 &#8226; <strong style="font-size:32px;top:1px;position:relative;">2015 11.11</strong></h2>
      <div class="gift">
        <h1 id="succeed" style="visibility: hidden;">恭喜您！抽中了</h1>
        <div class="seals-strip"></div>
        <%= image_tag "seals.png", class: "seals"%>
        <p class="cm">拾惠社给您送红包啦</p>
        <% @game_start = Time.now < DateTime.new(2015, 11, 5, 0, 0, 0, "+8" ) %>
        <% @game_end = Time.now > DateTime.new(2015, 11, 16, 0, 0, 0, "+8" ) %>
        <% if @game_start %>
          <h1>活动尚未开始</h1>
        <% elsif @game_end %>
          <h1>活动已经结束</h1>
        <% else %>
          <h1>双十一拆红包</h1>
        <% end %>
        <button class="btn" onclick="openGift(this)" <% if @game_start || @game_end %>disabled="disabled"<% end %>>点击拆红包</button>
        <div class="coupon">
          <hr>
          <div class="header">
            <i class="glyphicon glyphicon-gift card-background"></i>
            <span class="amount"><small>&#165;</small><span id="coupon_amount"></span></span>
          </div>
          <div id="coupon_limit"></div>
          <div id="coupon_date"></div>
        </div>
      </div>

      <p class="remarks">
        活动时间：2015年11月5日～2015年11月15日
      </p>
      <p class="remarks">
        活动规则：1. 每人限抽一次
      </p>
      <p class="remarks" style="padding-left:5.3em;">
        2. 最高可以抽到88元，中奖率100%
      </p>
      <p class="remarks" style="padding-left:5.3em;">
        3. 红包可以在拾惠社购买商品时使用
      </p>
    </div>
    <%= javascript_include_tag "gift" %>
  </body>
</html>
