<h1 class="page-header">文章管理</h1>
<ol class="breadcrumb">
  <li><a href="/admin">管控台</a></li>
  <li><a href="/admin/channels">CMS</a></li>
  <li class="active">文章</li>
</ol>
<%= link_to new_admin_article_path,  class: "btn btn-default" do %>
<span class="glyphicon glyphicon-plus"></span> 新建
<% end %>

<%= alert_info %>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>标题</th>
      <th>URL</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each_with_index do |article, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= article.title %></td>
      <td>http://www.tenhs.com/articles/<%= article.id %></td>
      <td>
        <%= link_to admin_article_path(article) do %>
        <span class="glyphicon glyphicon-eye-open icon"></span>
        <% end %>
        <%= link_to edit_admin_article_path(article) do %>
        <span class="glyphicon glyphicon-pencil icon"></span>
        <% end %>
        <%= link_to admin_article_path(article), method: :delete, data: {confirm: %(确定要删除"#{article.title}"吗？)} do %>
        <span class="glyphicon glyphicon-trash icon"></span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6">
        <%= page_info @articles %>
        <%= will_paginate @articles, page_links: false %>
      </td>
    </tr>
    </tfoot>
</table>
