<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title><%=Rails.application.config.name%></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <link href="<%=image_url('favicon.ico')%>" rel="icon">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <style>
      html, body, p {
      margin:0;
      padding: 0;
      }
      html, body {
      width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container" style="padding:0;margin:0 auto;">
      <%=raw @article.content%>
    </div>
</body>
</html>
