<h1 class="page-header">订单管理</h1>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/admin/immediate_orders" role="tab">店内点餐</a></li>
<li role="presentation"><a href="/admin/takeout_orders" role="tab">外卖订单</a></li>
<li role="presentation"><a href="/admin/reservations" role="tab">预订订单</a></li>
</ul>



<div class="tab-content">
  <%= link_to "今天", "/admin/immediate_orders", class: "filter-link" %>
  <%= link_to "查看所有历史订单", "/admin/immediate_orders?all=true", class: "filter-link" %>
  <table class="table">
    <thead>
      <tr>
        <th>桌号</th>
        <th>支付状态</th>
        <th>日期时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each_with_index do |order, index| %>
        <tr>
          <td><%= order.dinning_table.table_no if order.dinning_table.present?  %></td>
          <td><%= payment_status order %></td>
          <td><%= display_datetime order.created_at %></td>
          <td>
            <%= link_to admin_order_path(order) do %>
              <span class="glyphicon glyphicon-eye-open"></span></button>
<% end %>
</td>
</tr>
<% end %>
</tbody>
<tfooter>
  <tr>
    <td colspan="5">
      <%= page_info @orders %>
      <%= will_paginate @orders, class: "apple_pagination" %>
    </td>
  </tr>
</tfooter>
</table>
</div>
