<div class="hidden-print">
  <h1 class="page-header">订单详情</h1>
  <div>
    <% if @order.placed? || @order.canceled? %>
      <%= link_to "取消订单", admin_orders_cancel_url,  method: :put, style: "display:inline-block", class: "btn btn-danger", data: {confirm: %(确定要取消该订单吗？)} %>
    <% end %>
    <% if @order.type.eql?("TakeoutOrder") &&  (@order.paid? || (@order.offline_pay? && @order.placed?)) %>
      <button style="display:inline-block" class="btn btn-primary" data-toggle="modal" data-target="#shippingModal">确认发货</button>
    <% end %>
    <% if @order.shipping? %>
    <%= link_to "确认完成", admin_orders_deliver_url, method: :put, style: "display:inline-block", class: "btn btn-primary" %>
    <% end %>
    <% if @order.placed? && @order.type.eql?("ImmediateOrder") %>
      <a type="button" class="btn btn-primary" style="display:inline-block" data-toggle="modal" data-target="#receiveModal">确认完成</a>
    <% end %>
    <%= link_to admin_back_url(admin_orders_url), class: "btn btn-default" do %>
      <i class="glyphicon glyphicon-arrow-left"></i> 返回
    <% end %>
    <a href="" onclick="printer.print()" class="btn btn-default pull-right">
      <i class="glyphicon glyphicon-print"></i> 打印
    </a>
  </div>
  <div class="form-horizontal" style="padding-top:10px;">
    <%= render partial: "show_products" %>
    <div class="form-group">
      <label class="col-sm-2 control-label">订单编号</label>
      <div class="col-sm-9">
        <p class="form-control-static"><%= @order.order_id %></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">状态</label>
      <div class="col-sm-9">
        <p class="form-control-static">
          <%= order_status @order if @order.type.eql?("TakeoutOrder") %>
          <%= reserve_order_status @order if @order.type.eql?("ReserveOrder") %>
          <%= payment_status @order if @order.type.eql?("ImmediateOrder") %>
        </p>
      </div>
    </div>
    <%= render(partial: "show_reserve_info")  if @order.type.eql?("ReserveOrder") %>
    <%= render partial: "show_payment" %>
    <%= render partial: "show_time" %>
    <%= render(partial: "show_address") if @order.type.eql?("TakeoutOrder") %>
    <%= render partial: "show_memo" %>
    <%= render partial: "show_history" %>
  </div>
</div>
<%= render partial: "print" %>

<div class="modal fade" tabindex="-1" role="dialog" id="receiveModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag "/admin/orders/#{@order.id}/confirm_payment", method: "POST" do%>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">支付确认</h4>
      </div>
      <div class="modal-body form">

        <div class="form-group">
          <label for="receive">实收金额</label>
          <div class="input-group">
            <span class="input-group-addon">￥</span>
            <input type="number" id="receive" class="form-control" name="receive">
          </div>
        </div>
        <div class="form-group">
          <label for="memo">备注</label>
          <textarea name="memo" class="form-control"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-primary">确定</button>
      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- 确认发货 -->
<div class="modal fade" tabindex="-1" role="dialog" id="shippingModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag admin_orders_shipping_url, method: "PUT" do%>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">确认发货</h4>
      </div>
      <div class="modal-body form">
        <div class="form-group">
          <label for="memo">备注</label>
          <textarea name="memo" class="form-control"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-primary">确定</button>
      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
