<div class="hidden-print">
  <h1 class="page-header">订单详情</h1>
  <div>
    <% if !@order.delivered? and !@order.canceled? %>
      <%= link_to "取消订单", admin_orders_cancel_url,  method: :put, style: "display:inline-block", class: "btn btn-danger", data: {confirm: %(确定要取消该订单吗？)} %>
    <% end %>
    <% if @order.type.eql?("TakeoutOrder") &&  (@order.paid? || (@order.offline_pay? && @order.placed?)) %>
      <%= link_to "确认发货", admin_orders_shipping_url, method: :put, style: "display:inline-block", class: "btn btn-primary" %>
    <% end %>
    <% if @order.shipping? || @order.type.eql?("ImmediateOrder") %>
      <%= link_to "确认完成", admin_orders_deliver_url, method: :put, style: "display:inline-block", class: "btn btn-primary" %>
    <% end %>
    <%= link_to admin_back_url(admin_orders_url), class: "btn btn-default" do %>
      <i class="glyphicon glyphicon-arrow-left"></i> 返回
    <% end %>
    <a href="" onclick="printer.print()" class="btn btn-default pull-right">
      <i class="glyphicon glyphicon-print"></i> 打印
    </a>
  </div>
  <div class="form-horizontal" style="padding-top:10px;">
    <%= render partial: "show_products" %>
    <div class="form-group">
      <label class="col-sm-2 control-label">订单编号</label>
      <div class="col-sm-9">
        <p class="form-control-static"><%= @order.order_id %></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">状态</label>
      <div class="col-sm-9">
        <p class="form-control-static">
          <%= order_status @order if @order.type.eql?("TakeoutOrder") %>
          <%= reserve_order_status @order if @order.type.eql?("ReserveOrder") %>
          <%= payment_status @order if @order.type.eql?("ImmediateOrder") %>
        </p>
      </div>
    </div>
    <%= render(partial: "show_reserve_info")  if @order.type.eql?("ReserveOrder") %>
    <%= render partial: "show_payment" %>
    <%= render partial: "show_time" %>
    <%= render(partial: "show_address") if @order.type.eql?("TakeoutOrder") %>
    <%= render partial: "show_memo" %>
    <%= render partial: "show_history" %>
  </div>
</div>
<%= render partial: "print" %>
