<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title><%=Rails.application.config.name%></title>
    <meta name="description" content="科技农业，绿色生活">
    <meta name="Keywords" content="生态食品 绿色食品 拾惠社">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <link href="<%=image_url('favicon.ico')%>" rel="icon">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="no-touch">

    <header id="applicationHeader">
      <div class="navbar navbar-default" role="navigation">
        <!-- Action area -->
        <div class="navbar-header header-action header-action-dark">
          <section class="inherit-height pull-left">
            <button class="btn pull-left icon table-center inherit-height" onclick="menu.open();">
              <i class="glyphicon glyphicon-menu-hamburger" style="font-size:18px;"></i>
            </button>
          </section>
          <section class="pull-right inherit-height table-center-wrap" id="menu_control_pannel">
            <button type="button" class="icon btn btn-lg table-center inherit-height" onclick="window.location.href='/carts'" style="outline:none;">
              <i class="glyphicon glyphicon-shopping-cart"></i>
            </button>
            <button type="button" class="icon btn btn-lg table-center inherit-height" onclick="window.location.href='/orders'" style="outline:none;">
              <i class="glyphicon glyphicon-list-alt"></i>
            </button>
            <button type="button" class="icon btn btn-lg table-center inherit-height" onclick="window.location.href='/me'" style="outline:none;">
              <i class="glyphicon glyphicon-user"></i>
            </button>
          </section>
        </div>
        <div class="container" style="position: relative;">
          <!-- Title area -->
          <div class="header-title row">
            <h1 class="pull-left inherit-height">
              <%=@title || Rails.application.config.name%>
            </h1>
          </div>
          <!-- Description area -->
          <div class="header-description row">
            <address><span class="glyphicon glyphicon-map-marker"></span> 北京市中关村科技园平谷分园</address>
          </div>
          <a href="tel:+8612345678901" class="fab home-fab"><i class="glyphicon glyphicon-earphone"></i></a>
        </div>
      </div>
    </header>

    <%= render partial: "/layouts/api_menu"%>

    <div class="container">
      <div>
        <% if @channels.any? %>
        <div class="row home-nav" style="background:#fff;">
          <% @channels.each do |c| %>
          <section class="col-sm-6 col-md-6 col-xs-12 col-lg-4">
            <a href="<%=c.url%>" style="" class="channel-card">
              <%= image_tag c.image, alt: c.name%>
              <h3><%=c.name%> <i class="glyphicon glyphicon-circle-arrow-right"></i></h3>
            </a>
          </section>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>

    <%= render partial: "/layouts/api_footer"%>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag params[:controller] %>

  </body>
</html>
