<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title><%=Rails.application.config.name%></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="<%=image_url('favicon.ico')%>" rel="icon">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header style="height: 150px;" class="container">
      <div class="row" role="navigation">
        <div class="navbar-header" style="height:50px;padding-top:20px;">
          <section class="navbar-brand inherit-height pull-left" style="">
            <a class="" href="/" style="font-size:30px;letter-spacing:10px;"><%=Rails.application.config.name%></a>
          </section>
          <section class="inherit-height pull-right">
            <button id="menu_open" class="btn pull-left icon table-center inherit-height" style="margin-right:12px;" onclick="menu.open();">
              <i class="glyphicon glyphicon-menu-hamburger" style="font-size:25px;color:#fff;"></i>
            </button>
          </section>
        </div>
      </div>

      <div class="row" style="padding-top:30px">
        <div class="col-xs-10" style="display:table;">
          <span class="glyphicon glyphicon-map-marker" style="color:#fff;font-size:18px;display:inline-block;"></span>
          <span class="table-center" style="color:#fff;font-size:13px;">昆明市五华区龙泉路68号(家乐福对面)</span>
        </div>
        <div class="col-xs-2">
          <a class="pull-right" href="tel:+087168230000"><i class="glyphicon glyphicon-earphone" style="color:#fff;font-size: 18px;margin-right:12px;"></i></a>
        </div>
      </div>
    </header>

        <nav id="menu" class="navbar-side">
      <header>
        <% if user_signed_in? %>
        <a  class="inherit-height pull-left" href="/me">
          <%= image_tag "user.png" %>
          <p class="inherit-height nav-header-link-text"><span class="table-center inherit-height"><%= current_user.tel %></span></p>
        </a>
        <% else %>
        <a href="/users/sign_in" target="_self" class="inherit-height pull-left">
          <%= image_tag "user.png" %>
          <p class="inherit-height nav-header-link-text"><span class="table-center inherit-height">登录</span></p>
        </a>
        <% end %>
        <button type="button" class="icon btn btn-lg pull-right inherit-height" onclick="menu.close();">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
      </header>

      <section class="nav-section">
        <ul class="nav">
          <% if user_signed_in? %>
          <li><a href="/me" class="icon-link-left"><i class="glyphicon glyphicon-home"></i>我的<%=Rails.application.config.name%></a></li>
          <% end %>
          <li><a href="/orders" class="icon-link-left"><i class="glyphicon glyphicon-list-alt"></i>订单</a></li>
          <li><a href="/carts" class="icon-link-left"><i class="glyphicon glyphicon-shopping-cart"></i>购物车</a></li>
          <li><span class="title">菜品分类</span></li>
          <% @categories.each do |c| %>
          <li><a href="/products?category=<%=c.id%>" class="icon-link-left"><i class="glyphicon glyphicon-grain"></i><%=c.name%></a></li>
          <% end %>
        </ul>
      </section>
    </nav>

    <div class="block-layer"  onclick="menu.close()"></div>

    <div class="container" style="background-color: #fff;min-height:200px;">
      <div class="row home-nav">
        <section class="col-sm-6 col-md-6 col-xs-12" id="order">
            <a class="products" href="/products?type=order">
              <h3>订座订餐</h3>
            </a>
        </section>
        <section class="col-sm-6 col-md-6 col-xs-12" id="takeout">
            <a class="products" href="/products?type=takeout">
              <h3>外卖订餐</h3>
            </a>
        </section>
      </div>
    </div>

    <footer class="container">
      <div style="padding:25px 0;">
        <p class="copyright">Copyright © 2015 北京拾惠社农业科技有限公司</p>
        <ul>
          <li><span class="glyphicon glyphicon-map-marker"></span> 昆明市五华区龙泉路68号(家乐福对面)</li>
          <li><span class="glyphicon glyphicon-earphone"></span> 0871-68230000</li>
          <li>京ICP备15036211号</li>
        </ul>
      </div>
    </footer>

    <%= javascript_include_tag "http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.3.min.js" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag params[:controller] %>

</body>
</html>
