<h1 class="page-header">桌台管理</h1>

<div>
  <%= link_to new_admin_dinning_table_path,  class: "btn btn-default pull-right" do %>
  <span class="glyphicon glyphicon-plus"></span> 新建
  <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>桌号</th>
      <th>大小</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @tables.each_with_index do |table, index| %>
      <tr>
        <td><%= table.table_no  %></td>
        <td><%= table.size  %></td>
        <td>
          <%= link_to edit_admin_dinning_table_path(table) do %>
            <span class="glyphicon glyphicon-pencil"></span></button>
          <% end %>
          <%= link_to admin_dinning_table_path(table), method: "delete", data: {confirm: "确定要删除这个桌子吗？"} do %>
              <span class="glyphicon glyphicon-trash"></span></button>
          <% end %>
          <a href="#" onclick="dinningTable.showQRcode(<%=table.id%>, '<%=table.table_no%>')">
            <span class="glyphicon glyphicon-qrcode"></span>
          </a>
</td>
</tr>
<% end %>
</tbody>
<tfooter>
  <tr>
    <td colspan="6" class="table-footer">
      <%= page_info @tables %>
      <%= will_paginate @tables, class: "apple_pagination" %>
    </td>
  </tr>
</tfooter>
</table>
<div class="modal fade" id="qrcodeModal" tabindex="-1" role="dialog" aria-labelledby="qrcodeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="qrcodeModalLabel"></h4>
      </div>
      <div class="modal-body" id="qrcodeBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
