<section>
  <h3 class="col-md-2 col-sm-3 col-xs-12 icon-link-left"><span class="circle highlight"><%=index%></span>预订信息</h3>
  <div class="col-md-8 col-sm-7 col-xs-12 main-body">
    <div class="confirm-content">
      <div class="form-group">
        <label for="count" class="control-label">就餐人数</label>
        <div>
          <select id="count" name="count" class="form-control">
            <% 30.times do |i| %>
            <option value="<%=i+1%>"><%=i+1%></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">就餐时间</label>
        <div>
          <select id="" name="date" class="form-control">
            <option value="<%=display_date Date.today %>">今天</option>
            <option value="<%=display_date 1.day.from_now %>">明天</option>
          </select>
          <select id="" name="time" class="form-control" style="margin-top:8px;">
            <option value="11:00">上午 11:00</option>
            <option value="11:30">上午 11:30</option>
            <option value="12:00">上午 12:00</option>
            <option value="12:30">上午 12:30</option>
            <option value="13:00">上午 13:00</option>
            <option value="17:00">下午 5:00</option>
            <option value="17:30">下午 5:30</option>
            <option value="18:00">下午 6:00</option>
            <option value="18:30">下午 6:30</option>
            <option value="19:00">下午 7:00</option>
            <option value="19:30">下午 7:30</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="contact" class="control-label">联系人</label>
        <div>
          <input type="text" class="form-control" id="contact" name="contact_name" required>
        </div>
      </div>
      <div class="form-group">
        <label for="contact" class="control-label">联系电话</label>
        <div>
          <input type="tel" class="form-control" id="contact" name="contact_tel" value="<%=current_user.tel%>" required>
        </div>
      </div>

    </div>
  </div>
</section>
