<section>
  <h3 class="col-md-2 col-sm-3 col-xs-12 icon-link-left"><span class="circle highlight"><%=index%></span>确认订单</h3>
  <div class="col-md-8 col-sm-7 col-xs-12 main-body">
    <div class="confirm-content">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>商品</th><th class="number-align" style="min-width: 45px;">数量</th><th class="number-align">单价</th>
          </tr>
        </thead>
        <tbody>
          <% @cart.each do |key, product| %>
          <tr>
            <td><%= product["detail"].name %>
              <% unless product["spec"].nil? %>
              <em>(<%= product["spec"].value %>)</em>
              <% end %>
            </td>
            <td class="number-align"><%= product["count"] %></td>
            <td class="number-align"><%= number_to_currency product_price(product), locale: :'zh-CN', precision: 2 %></td>
          </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="number-align">
              总价：<%= number_to_currency cart_price(@cart), locale: :'zh-CN', precision: 2 %>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
