<% unless flash["info"].nil? %>
<div class="alert alert-danger" role="alert">
  <strong><%= flash["info"] %></strong>
  <% unless flash["errors"].nil? %>
  <ul>
    <% flash["errors"].each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>
</div>
<% end %>

<div class="main row">
  <%= form_tag :orders, id: "orders_confirm_form" do %>
    <% section_index = 0 %>
    <%= render partial: "products", locals: {index: section_index+=1}%>

    <!-- 配送 -->
    <% if reserve? %>
      <%= render partial: "order_info", locals: {index: section_index+=1}%>
    <% elsif takeout? %>
      <%= render partial: "address", locals: {index: section_index+=1}%>
    <% end %>

    <!-- 支付 -->
    <%= render partial: "payment", locals: {index: section_index+=1}%>

    <!-- 留言 -->
    <%= render partial: "memo", locals: {index: section_index+=1} unless immediate? %>

    <!-- 结算 -->
    <%= render partial: "clearing", locals: {index: section_index+=1}%>

    <div>
      <div class="col-md-offset-2 col-sm-offset-3 col-md-8 col-sm-7 col-xs-12 vertical-btn-group btn-group-cart">
        <a class="btn btn-lg btn-default" href="/carts">取消</a>
        <a class="btn btn-lg btn-primary" onclick="orders.confirm()">确认</a>
      </div>
    </div>
  <% end %>

  <%= render partial: "/addresses/modal" %>
  <input type="hidden" id="order_type" value="<%=session[:type]%>">
</div>
