<% unless flash["info"].nil? %>
<div class="alert alert-danger" role="alert">
  <strong><%= flash["info"] %></strong>
</div>
<% end %>

<div class="row">
  <div class="col-sm-6 no-small-screen">
    <div class="bulk-card">
      <div class="card-container">
        <div class="top">
          <div class="image">
            <%=image_tag @product.cover_image%>
          </div>
          <div class="title">
            <h3><%=@product.name%></h3>
            <div class="desc"><%=@product.description%></div>
            <div class="price">单价： <%=user_price @product%></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= form_tag "/orders/bulk", class: "form col-sm-6 col-xs-12", method: "POST" do%>
  <input type="hidden" name="id" id="productId" value="<%=@product.id%>">
  <div class="form-group">
    <label class="control-label">购买数量：</label>
    <div class="input-group">
      <input type="number" name="count" min="1" step="1" required class="form-control" >
      <div class="input-group-addon">* <%=@product.batch_size%></div>
    </div>

  </div>
  <div class="form-group">
    <label class="control-label">联系人姓名：</label>
    <input type="text" name="order[contact_name]" class="form-control" required>
  </div>
  <div class="form-group">
    <label class="control-label">联系人电话：</label>
    <input type="tel" name="order[contact_tel]" required class="form-control" required>
  </div>
  <div class="form-group">
    <label class="control-label">送货地址：</label>
    <div class="input-group">
      <span class="input-group-addon" id="userLocation"><%=current_user.location%></span>
      <input type="text" name="order[contact_address]" required class="form-control" required>
    </div>
  </div>
  <input type="hidden" name="payment_type" id="paymentType">
  <div class="modal-footer">
    <div id="paymentInfo" style="padding-bottom:12px;">
    </div>
    <div>
      <button type="confirm" class="btn btn-primary">确认购买</button>
    </div>
  </div>
  <% end %>
</div>
