<div class="row order-main">
  <ul class="no-list-style order-list">
    <% @orders.each do |order| %>
      <li class="order" onclick="orders.toDetail(<%=order.id%>)">
        <h3><%= order.name %>
          <i class="pull-right glyphicon glyphicon-info-sign"></i>
        </h3>
        <div>
          <% if order.type.eql? "ReserveOrder" %>
            <span class="pull-left"><%= order.reserve_seats %> 人</span>
            <span class="pull-right"><%= display_datetime order.reserve_time %></span>
          <% elsif order.type.eql? "TakeoutOrder" %>
            <span class="pull-left"><%= order_status order %></span>
            <span class="pull-right"><%= display_date order.created_at %></span>
          <% else %>
            <span class="pull-left"><%= payment_status order %></span>
            <span class="pull-right"><%= display_date order.created_at %></span>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate "/orders/#{@type}", @orders %>
  </div>
