<div class="row order-main">
  <ul class="no-list-style order-list">
    <% @orders.each do |order| %>
      <li class="order" onclick="orders.toDetail(<%=order.id%>)">
        <h3><%= order.name %>
          <i class="pull-right glyphicon glyphicon-info-sign"></i>
        </h3>
        <div>
          <span class="pull-left"><%= order_status order %></span>
          <span class="pull-right"><%= display_date order.created_at %></span>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate "/orders/#{@type}", @orders %>
</div>
