<article class="row main">
  <div class="order-detail">
    <section>
      <h2 class="pull-left inherit-height table-center-wrap"><span class="table-center">订单</span></h2>
      <a class="btn btn-lg pull-right highlight-link icon-link-left inherit-height" href="/orders" style="position:relative;top:15px;padding-right:0">
        <span><i class="glyphicon glyphicon-arrow-left"></i>所有订单</span>
      </a>
    </section>
    <section>
      <h3>状态</h3>
      <div><%= order_status @order %></div>
    </section>
    <section>
      <h3>商品</h3>
      <table class="table" style="max-width: 600px">
        <thead>
          <tr>
            <th>数量</th><th>项目</th><th class="number-align">单价</th>
          </tr>
        </thead>
        <tbody>
          <% @order.orders_products.each do |orders_products| %>
          <tr>
            <td><%= orders_products.count %></td>
            <td><%= orders_products.product.name %> <%= orders_products.specification.value if orders_products.specification.present?%></td>
            <td class="number-align"><%= number_to_currency orders_products.count*orders_products.price, locale: :'zh-CN', precision: 2 %></td>
          </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="number-align">
              总价：<%= number_to_currency @order.subtotal, locale: :'zh-CN', precision: 2 %>
            </td>
          </tr>
        </tfoot>
      </table>
    </section>
    <section>
      <h3>订单编号</h3>
      <div><%= @order.order_id %></div>
    </section>
    <section>
      <h3>付款方式</h3>
      <div><%= payment_name @order %></div>
    </section>
    <section>
      <h3>配送信息</h3>
      <address class="address">
        <div class="header">
          <span class="pull-left name"><%= @order.contact_name %></span>
          <span class="pull-right"><%= phone_number @order.contact_tel %></span>
        </div>
        <div><%= @order.contact_address %></div>
      </address>
    </section>
    <section>
      <h3>留言</h3>
      <p><%= @order.memo %></p>
    </section>
    <section>
      <h3>历史</h3>
      <table class="table" style="max-width: 600px">
        <thead>
          <tr>
            <th>时间</th><th>状态</th><th>操作人</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_histories.each do |hist| %>
          <tr>
            <td><%= display_datetime hist.time %></td>
            <td><%= order_history_status hist %></td>
            <td><%= order_status_change_operator hist %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </section>

    <section>
      <% if need_online_pay? @order %>
        <a class="btn btn-default btn-block" target="_self" href="<%=@url%>">立即支付</a>
      <% end %>

      <br>
      <a class="btn btn-default btn-block" target="_self" href="/complains/new_order_complain?order_id=<%=@order.id%>">投诉</a>

      <% if is_cancelable? @order %>
        <br>
        <%= link_to "取消订单", :orders_cancel, method: "PUT", class: "btn btn-danger btn-block"%>
      <% end %>
    </section>
  </div>

</article>
