<article class="row main">
  <div class="order-detail" style="margin-bottom: 20px;">

    <% unless @order.canceled? %>
    <ul class="order-progress">
      <li class="active">
        <i class="glyphicon glyphicon-list-alt"></i>
        <title>订单提交</title>
      </li>
      <li class="active">
        <hr>
      </li>
      <li class="<%=(@order.paid? || @order.printed?) ? 'active' : ''%>">
        <i class="glyphicon glyphicon-yen"></i>
        <title>付款</title>
      </li>
      <li class="<%=(@order.paid? || @order.printed?) ? 'active' : ''%>">
        <hr>
      </li>
      <li class="<%=@order.printed? ? 'active' : ''%>">
        <i class="glyphicon glyphicon-fire"></i>
        <title>制作中</title>
      </li>
    </ul>
    <% end %>

    <section>
      <h2 class="pull-left inherit-height table-center-wrap" style="font-size: 20px;margin-top: 0;margin-bottom: 4px;">
        <span class="table-center">
          <% if @order.paid? %>
          单号：<%= @order.simple_order_no %>
          <% else %>
          <%= @order.name %>
          <% end %>
        </span>
      </h2>
      <% if need_online_pay? @order %>
      <a class="btn btn-primary pull-right" target="_self" href="<%=@url%>">立即支付</a>
      <% end %>
    </section>
    <section>
      <h3>商品</h3>
      <table class="table" style="max-width: 600px">
        <thead>
          <tr>
            <th>数量</th><th>项目</th><th class="number-align">单价</th>
          </tr>
        </thead>
        <tbody>
          <% @order.orders_products.each do |orders_products| %>
            <tr>
              <td><%= orders_products.count %></td>
              <td>
                  <%= orders_products.product.name %> <%= orders_products.specification.value if orders_products.specification.present?%>
              </td>
              <td class="number-align"><%= number_to_currency orders_products.count*orders_products.price, locale: :'zh-CN', precision: 2 %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="number-align">
              总价：<%= number_to_currency @order.subtotal, locale: :'zh-CN', precision: 2 %>
            </td>
          </tr>
        </tfoot>
      </table>
    </section>
    <section>
      <h3>订单编号</h3>
      <div><%= @order.order_id %></div>
    </section>
    <section>
      <h3>状态</h3>
      <div><%= payment_status @order %></div>
    </section>
    <%= render partial: "show_address" if @order.type.eql?("TakeoutOrder") %>
    <section>
      <h3>历史</h3>
      <table class="table" style="max-width: 600px">
        <thead>
          <tr>
            <th>时间</th><th>状态</th><th>操作人</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_histories.each do |hist| %>
            <tr>
              <td><%= display_datetime hist.time %></td>
              <td><%= order_history_status hist %></td>
              <td><%= order_status_change_operator hist %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
    <% if need_online_pay?(@order) || is_cancelable?(@order) %>
      <section>
        <% if need_online_pay? @order %>
          <a class="btn btn-primary btn-block" target="_self" href="<%=@url%>">立即支付</a>
        <% end %>

        <% if is_cancelable? @order %>
          <br>
          <%= link_to "取消订单", :orders_cancel, method: "PUT", class: "btn btn-danger btn-block"%>
        <% end %>
      </section>
    <% end %>
  </div>

</article>
