<article class="row main">
  <div class="order-detail" style="margin-bottom: 20px;">
    <section>
      <h2 class="pull-left inherit-height table-center-wrap" style="font-size: 20px;margin-top: 0;margin-bottom: 4px;">
        <span class="table-center"><%= order_name @order %></span>
      </h2>
    </section>
    <%= render partial: "show_order_info" if @order.type.eql?("ReserveOrder")  %>
    <%= render partial: "show_order_status" if @order.type.eql?("TakeoutOrder") %>
    <section>
      <h3>商品</h3>
      <table class="table" style="max-width: 600px">
        <thead>
          <tr>
            <th>数量</th><th>项目</th><th class="number-align">单价</th>
          </tr>
        </thead>
        <tbody>
          <% @order.orders_products.each do |orders_products| %>
            <tr>
              <td><%= orders_products.count %></td>
              <td>
                <%= orders_products.product.name %>
                <% if orders_products.specification.present? %>
                （<%= orders_products.specification.value %>）
                <% end %>
              </td>
              <td class="number-align"><%= number_to_currency orders_products.count*orders_products.price, locale: :'zh-CN', precision: 2 %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="number-align">
              总价：<%= number_to_currency @order.subtotal, locale: :'zh-CN', precision: 2 %>
            </td>
          </tr>
        </tfoot>
      </table>
    </section>
    <section>
      <h3>订单编号</h3>
      <div><%= @order.order_id %></div>
    </section>
    <section>
      <h3>状态</h3>
      <div><%= payment_status @order %></div>
    </section>
    <% if @order.dinning_table_id.present? %>
    <section>
      <h3>桌号</h3>
      <div><%= @order.dinning_table.table_no %></div>
    </section>
    <% end %>
    <section>
      <h3>付款方式</h3>
      <div><%= payment_name @order %></div>
    </section>
    <section>
      <h3>支付信息</h3>
      <table class="table table-bordered" style="max-width: 600px">
        <thead>
          <tr>
            <th>订单总价</th><th>优惠券</th><th>账户余额</th><th>需支付总价</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= number_to_currency @order.subtotal, locale: :'zh-CN', precision: 2 %></td>
            <td><%= number_to_currency @order.coupon_amount, locale: :'zh-CN', precision: 2 %></td>
            <td><%= number_to_currency @order.user_account_balance, locale: :'zh-CN', precision: 2 %></td>
            <td><%= number_to_currency (@order.subtotal - @order.coupon_amount - @order.user_account_balance), locale: :'zh-CN', precision: 2 %></td>
          </tr>
        </tbody>
      </table>
    </section>
    <%= render partial: "show_address" if @order.type.eql?("TakeoutOrder") %>
    <section>
      <h3>留言</h3>
      <p><%= @order.memo %></p>
    </section>
    <section>
      <h3>历史</h3>
      <table class="table" style="max-width: 600px">
        <thead>
          <tr>
            <th>时间</th><th>状态</th><th>操作人</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_histories.each do |hist| %>
            <tr>
              <td><%= display_datetime hist.time %></td>
              <td><%= order_history_status hist %></td>
              <td><%= order_status_change_operator hist %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>

    <section>
      <% if @order.immediate_order? && @order.placed? && @order.offline_pay? %>
      <%=link_to "加菜", "/orders/#{@order.id}/add_dishes", method: "GET", class: "btn btn-primary btn-block" %>
      <% end %>
      <% if @order.immediate_order? && @order.placed? && @order.offline_pay? && current_user.waiter? %>
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#receiveModal">确认支付完成</button>
      <% end %>
      <% if @order.shipping? %>
        <%=link_to "确认收货", order_received_url(@order), method: "PUT", class: "btn btn-primary btn-block" %>
      <% end %>
    </section>



    <% if need_online_pay?(@order) || is_cancelable?(@order) %>
      <section>
        <% if need_online_pay? @order %>
          <a class="btn btn-primary btn-block" target="_self" href="<%=@url%>">立即支付</a>
        <% end %>

        <% if is_cancelable? @order %>
          <br>
          <%= link_to "取消订单", :orders_cancel, method: "PUT", class: "btn btn-danger btn-block"%>
        <% end %>
      </section>
    <% end %>
  </div>

</article>


<div class="modal fade" tabindex="-1" role="dialog" id="receiveModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag "/orders/#{@order.id}/confirm_payment", method: "POST" do%>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">支付确认</h4>
      </div>
      <div class="modal-body form">

        <div class="form-group">
          <label for="receive">实收金额</label>
          <div class="input-group">
            <span class="input-group-addon">￥</span>
            <input type="number" id="receive" class="form-control" name="receive">
          </div>
        </div>
        <div class="form-group">
          <label for="memo">备注</label>
          <textarea name="memo" class="form-control"></textarea>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-primary">确定</button>
      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
