<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title><%=Rails.application.config.name%>--微信支付</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="<%=image_url('favicon.ico')%>" rel="icon">
    <style>
      html, body {
          width: 100%;
          overflow: hidden;
          background: #f5f5f5;
      }
      * {
          color: #555;
      }
      #redirect_result {
          width: 100%;
          display: none;
      }
      button {
          width: 40%;
          border: 1px solid #888;
          float: left;
          color: #555;
          border-radius: 3px;
          background-color: #fff;
          height: 40px;
          margin: 5%;
      }
    </style>
  </head>
  <body>
    <p id="text_msg">
      正在跳转到微信支付，请稍后...
    </p>
    <p id="redirect_result">
      <button onclick="javascript:window.location.href='/payment/<%=@order_id%>?success=true'">支付成功</button>
      <button onclick="javascript:window.location.href='/payment/<%=@order_id%>?success=false'">支付遇到问题</button>
    </p>
     <script stype="text/javascript">
       function onBridgeReady(){
         var params = {
           "appId" : "<%= @wechat_params[:appId] %>",
           "timeStamp": "<%= @wechat_params[:timeStamp] %>",
           "nonceStr" : "<%= @wechat_params[:nonceStr] %>",
           "package" : "<%= @wechat_params[:package] %>",
           "signType" : "<%= @wechat_params[:signType] %>",
           "paySign" : "<%= @wechat_params[:paySign] %>"
         };
         WeixinJSBridge.invoke("getBrandWCPayRequest", params,
                               function(res) {
                                 document.getElementById("text_msg").style.display = "none";
                                 document.getElementById("redirect_result").style.display = "block";
                                 if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                                   // 操作成功，跳转到成功页面
                                   window.location.href = "/payment/wechat/front_notify?success=true&id=<%=@order_id%>"
                                 } else {
                                   // 用户放弃操作或操作是失败，跳转到失败页面
                                   window.location.href = "/payment/wechat/front_notify?success=false&id=<%=@order_id%>"
                                 }
                               });
       }

       if (typeof WeixinJSBridge == "undefined"){
         if ( document.addEventListener ) {
           document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
         } else if (document.attachEvent) {
           document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
           document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
         }
       } else {
         onBridgeReady();
       }
     </script>
</body>
</html>
