<address id="address_<%=item.id%>" class="address entry">
  <%= hidden_field_tag "address_id", item.id, id: "" %>
  <div class="header">
    <span name="address_name" class="pull-left name"><%= item.name %></span>
    <span name="address_tel" class="pull-right"><%= phone_number item.tel %></span>
  </div>
  <div name="address_addr"><%= item.state %><%= item.city %><%= item.street %></div>
  <% if controller_name.eql? "addresses" %>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button onclick="address.edit(<%=item.id%>)" class="btn btn-default btn-block">修改</button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button onclick="address.destroy(<%=item.id%>)" class="btn btn-danger btn-block">删除</button>
      </div>
    </div>
  <% end %>
</address>
