<h1 class="page-header">查看类目</h1>

<div class="control-panel">
  <%= link_to edit_admin_category_path(@category), class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-pencil"></span> 编辑
  <% end %>
  <%= link_to admin_back_url(admin_categories_path), class: "btn btn-default" do%>
  <span class="glyphicon glyphicon-arrow-left"></span> 返回
<% end %>
</div>

<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">名字</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @category.name %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">所属类目</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%=link_to(@category.parent.name, admin_category_path(@category.parent)) if @category.parent.present? %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">子类目</label>
    <div class="col-sm-10">
      <ul class="form-control-static">
        <% @category.children.each do |c| %>
        <li><%=link_to c.name, admin_category_path(c) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
