<div class="row">
  <div class="col-sm-3">
    <%=image_tag @product.cover_image, style: "width:100%;"%>
  </div>
  <div class="col-sm-9">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2">名称</label>
        <p class="form-control-static col-sm-8">
          <%=@product.name%>
        </p>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">类型</label>
        <p class="form-control-static col-sm-8">
          <%= product_type @product %>
        </p>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">库存</label>
        <p class="form-control-static col-sm-8">
          <%=product_storage @product%>
        </p>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">开始时间</label>
        <p class="form-control-static col-sm-8">
          <%=display_datetime @product.start_date%>
        </p>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">价格区间</label>
        <p class="form-control-static col-sm-8">
          <%=number_to_currency @product.min_price, locale: :'zh-CN', precision: 2%> ~ <%=number_to_currency @product.max_price, locale: :'zh-CN', precision: 2%>
        </p>
      </div>
    </div>
  </div>
</div>

<div>
  <h2 class="sub-header">规格信息</h2>
  <table class="table">
    <thead>
      <tr>
        <th>规格</th>
        <th>库存</th>
        <th>每份数量</th>
        <th>昆明价格</th>
        <th>北京价格</th>
        <th>销量</th>
        <th>补货</th>
      </tr>
    </thead>
    <tbody>
      <% @product.specifications.each do |spec| %>
      <tr>
        <td><%=spec.value%></td>
        <td><%=spec.storage - spec.sales%></td>
        <td><%=spec.batch_size %></td>
        <td><%=number_to_currency spec.price_km, locale: :'zh-CN', precision: 2%></td>
        <td><%=number_to_currency spec.price_bj, locale: :'zh-CN', precision: 2%></td>
        <td><%=spec.sales%></td>
        <td>
          <%=form_tag "/admin/products/#{@product.id}/spec/#{spec.id}/supplement", id: "supplement_#{spec.id}", method: "PUT", class: "well row input-well" do %>
          <input name="count" type="number" min=1 required class="form-control pull-left">
          <button type="submit" class="btn btn-primary col-sm-3">确定</button>
          <button type="button" class="btn btn-default col-sm-3" onclick="product.hideSupplement(<%=spec.id%>)">取消</button>
          <% end %>
          <a href="##" onclick="product.supplement(<%=spec.id%>, this);"><i class="glyphicon glyphicon-plus-sign"></i></a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
