<div class="form-group">
  <div class="col-sm-5 col-sm-offset-2">
    <%= p.check_box :is_crowdfunding, onchange: "product.checkWholesale(this.checked)" %>
    <%= p.label :is_crowdfuning, class: "control-label" do %>
    众筹商品  <span class="glyphicon glyphicon-info-sign icon" title="是否是众筹商品"></span>
    <% end %>
  </div>
</div>
<%= p.fields_for :crowdfunding do |c| %>
<div id="wholesaleProperties" <% unless p.object.is_crowdfunding%>style="display:none;"<% end %>>
  <div class="form-group">
    <%= c.label :threshold, "成立数量", class: "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= c.number_field :threshold, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= c.label :threshold_per_trade, "最低购买数量", class: "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= c.number_field :threshold_per_trade, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= c.label :start_date, "开始日期", class: "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <%= c.date_field :start_date, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= c.label :end_date, "结束日期", class: "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <%= c.date_field :end_date, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= c.label :delivery_date, "发货日期", class: "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <%= c.date_field :delivery_date, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= c.label :price_km, "昆明价格", class: "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <%= c.number_field :price_km, class: "form-control", step: 0.01 %>
    </div>
  </div>
  <div class="form-group">
    <%= c.label :price_bj, "北京价格", class: "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <%= c.number_field :price_bj, class: "form-control", step: 0.01 %>
    </div>
  </div>
  <div class="form-group">
    <%= c.label :price_bj, "预付金比例", class: "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <div class="input-group">
        <%= c.number_field :prepayment, class: "form-control" %>
        <span class="input-group-addon">%</span>
      </div>
    </div>
  </div>
</div>
<% end %>
