<%= form_for [:admin, @product], :html => {:class => "form-horizontal"} do |p| %>
  <% if @product.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>保存失败</strong>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= p.label :name, "名字", :class => "col-sm-2 control-label"  %>
    <div class="col-sm-6">
      <%= p.text_field :name, :class => "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= p.label :price, :class => "col-sm-2 control-label" do  %>
      价格
  <% end %>
  <div class="col-sm-4">
    <%= p.number_field :price, :class => "form-control", step: "any", min: 0 %>
  </div>
  </div>

  <%= p.hidden_field :storage, :class => "form-control" %>

  <div class="form-group">
    <%= p.label :cover_image, :class => "col-sm-2 control-label" do %>
      <span class="glyphicon glyphicon-info-sign icon" title="该图片将作为产品封面，为了保证显示效果，请使用1024*1024的图片并使用透明背景"></span> 封面图片
    <% end %>
    <div class="col-sm-5">
      <% if p.object.cover_image.nil? %>
        <%= image_tag "empty-img.png", class: "img-thumbnail", onclick: "uploader.open()", id: "cover_image", style: "width:180px" %>
      <% else %>
        <%= image_tag p.object.cover_image, class: "img-thumbnail", onclick: "uploader.open()", id: "cover_image", style: "width:180px" %>
      <% end %>
      <%= p.hidden_field :cover_image %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5 col-sm-offset-2">
      <%= p.check_box :on_sale %>
      <%= p.label :on_sale, :class => "control-label" do %>
        上架  <span class="glyphicon glyphicon-info-sign icon" title="是否上架销售"></span>
    <% end %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= submit_tag "确认",  data: { disable_with: "请稍后..."},  :class => "btn btn-primary", :onclick => "product.setFormParams()" %>
        <%= link_to "取消", admin_products_path, :class => "btn btn-default" %>
    </div>
  </div>

<% end %>


<!-- Template -->
<script type="text/template" id="specification_template">
  <tr>
  <td style="display:none"><input type="hidden"></td>
  <td><input class="form-control" type="text"></td>
  <td><input class="form-control" type="text"></td>
  <td><input class="form-control" type="number"></td>
  <td><input class="form-control" type="number"></td>
  <td>
  <button type="button" class="btn btn-danger" onclick="product.removeSpec(this)" title="删除">
  <span class="glyphicon glyphicon-trash" style="color:#fff;"></span>
  </button>
  </td>
  </tr>
</script>
<%= render partial: "upload_form" %>
