<h1 class="page-header">商品管理</h1>

<ul class="link-group">
  <% if can? :manage, Category %>
  <li>
    <%= link_to "类目管理", admin_categories_path %>
  </li>
  <% end %>
  <% if can? :manage, Supplier %>
  <li>
    <%= link_to "供应商管理", admin_suppliers_path %>
  </li>
  <% end %>
</ul>

<div>
  <%= link_to new_admin_product_path,  class: "btn btn-default pull-right" do %>
    <span class="glyphicon glyphicon-plus"></span> 新建
  <% end %>
  <%= link_to "/admin/products/new_bulk",  class: "btn btn-default pull-right", style:"margin-right:12px;" do %>
  <span class="glyphicon glyphicon-plus"></span> 新建大宗
  <% end %>
  <form action="<%= admin_products_path %>" method="get" class="form-inline">
    <div class="form-group">
      <%= text_field_tag :search_text, @search_text, class: "form-control", placeholder: "商品名称" %>
    </div>
    <%= submit_tag "搜索", class: "btn btn-default"%>
    <button type="reset" class="btn btn-default" >重置</button>
  </form>
</div>

<% if @out_of_stock_products.present? && @out_of_stock_products.any? %>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <i class="glyphicon glyphicon-warning-sign"></i>
  <strong>以下商品库存不足</strong>
  <ul>
    <% @out_of_stock_products.each do |p| %>
    <li>
      <%=link_to admin_product_path(p) do%>
      <span style="width:180px;display:inline-block;"><%= p.name %></span>库存：<%=p.storage-p.sales%>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>名称</th>
      <th>类型</th>
      <th class="number-align">销量</th>
      <th class="number-align">库存</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each_with_index do |product, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= product.name  %></td>
      <td><%=product_type product%></td>
      <td class="number-align"><%= product.sales  %></td>
      <td class="number-align"><%= product.storage - product.sales  %></td>
      <td>
        <%= link_to admin_product_path(product) do %>
        <span class="glyphicon glyphicon-eye-open icon"></span>
        <% end %>
        <%= link_to edit_admin_product_path(product) do %>
        <span class="glyphicon glyphicon-pencil icon"></span>
        <% end %>
        <%= link_to admin_product_path(product), method: :delete, data: {confirm: %(确定要删除"#{product.name}"吗？)} do %>
        <span class="glyphicon glyphicon-trash icon"></span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <% unless @search_text.present? %>
  <tfoot>
    <tr>
      <td colspan="6" class="table-footer">
        <%= page_info @products %>
        <%= will_paginate @products, class: "apple_pagination" %>
      </td>
    </tr>
  </tfoot>
  <% end %>
</table>
