<%= form_for [:admin, @group], :html => {:class => "form-horizontal"} do |u| %>
<% if @group.errors.any? %>
<div class="alert alert-danger" role="alert">
  <strong>保存失败</strong>
  <ul>
    <% @group.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= u.label :name, "名字", :class => "col-sm-2 control-label"  %>
  <div class="col-sm-6">
    <%= u.text_field :name, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= u.label :parent_id, "上级机构", :class => "col-sm-2 control-label"  %>
  <div class="col-sm-4">
    <%= u.select :parent_id, options_from_collection_for_select(@groups, :id, :name, u.object.parent_id), {include_blank: true}, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= submit_tag "确认",  data: { disable_with: "请稍后..."},  :class => "btn btn-primary" %>
    <%= link_to "取消", admin_groups_path, :class => "btn btn-default" %>
  </div>
</div>

<% end %>
