<h1 class="page-header">店铺信息</h1>
<div class="control-panel">
  <%= link_to edit_admin_group_path(@group), class: "btn btn-default" do%>
  <span class="glyphicon glyphicon-pencil"></span> 编辑
<% end %>
<%= link_to admin_back_url(admin_groups_path), class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-arrow-left"></span> 返回
<% end %>
</div>
<div class="form form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">名字</label>
    <p class="form-control-static"><%= @group.name %></p>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">所属机构</label>
    <p class="form-control-static"><%= @group.parent.name unless @group.parent.nil? %></p>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">下级机构</label>
    <% unless @group.children.empty? %>
    <ul class="list-unstyled">
      <% @group.children.each do |g| %>
      <li><%=link_to g.name, admin_group_url(g) %></li>
      <% end %>
    </ul>
  <% end %>
  </div>
  </div>
