<h1 class="page-header">频道管理<small> 主页显示项目</small></h1>

<ul class="link-group">
  <li>
    <%= link_to "文章管理", admin_articles_path %>
  </li>
</ul>

<%= link_to new_admin_channel_path,  :class => "btn btn-primary" do %>
<span class="glyphicon glyphicon-plus"></span> 新建
<% end %>

<table class="table">
  <thead>
    <tr>
      <td>#</td>
      <td>名称</td>
      <td>链接</td>
      <td>操作</td>
    </tr>
  </thead>
  <tbody>
    <% @channels.each_with_index do |channel, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= channel.name %></td>
      <td><%= channel.url%></td>
      <td>
        <%= link_to admin_channel_path(channel) do %>
        <span class="glyphicon glyphicon-eye-open icon"></span>
        <% end %>
        <%= link_to edit_admin_channel_path(channel) do %>
        <span class="glyphicon glyphicon-pencil icon"></span>
        <% end %>
        <%= link_to admin_channel_path(channel), method: :delete do %>
        <span class="glyphicon glyphicon-trash icon"></span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6">
        <%= page_info @channels %>
        <%= will_paginate @channels, page_links: false %>
      </td>
    </tr>
    </tfoot>
</table>
