<%= form_for [:admin, @user], :html => {:class => "form-horizontal"} do |u| %>
<% if @user.errors.any? %>
<div class="alert alert-danger" role="alert">
  <strong>保存失败</strong>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= u.label :tel, "手机号", :class => "col-sm-2 control-label"  %>
  <div class="col-sm-6">
    <%= u.telephone_field :tel, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= u.label :role, "角色", class: "col-sm-2 control-label"  %>
  <div class="col-sm-3">
    <%= u.select :role, options_for_select({"卖家" => "seller", "管理员" => "admin"}, u.object.role), {}, {class: "form-control"} %>
  </div>
</div>
<div class="form-group">
  <%= u.label :group_id, "所属店铺", :class => "col-sm-2 control-label"  %>
  <div class="col-sm-3">
    <%= u.select :group_id, options_from_collection_for_select(@groups, :id, :name, u.object.group_id), {include_blank: true}, {class: "form-control"} %>
  </div>
</div>
<div class="form-group">
  <%= u.label :password, "密码", class: "col-sm-2 control-label" %>
  <div class="col-sm-3">
    <% if @validatable %>
    <em>(最少<%= @minimum_password_length %>个字符)</em>
    <% end %>
    <%= u.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= u.label :password_confirmation, "确认密码", class: "col-sm-2 control-label" %>
  <div class="col-sm-3">
    <%= u.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-8 col-sm-offset-2">
    <p class="form-control-static text-info">* 不输入密码则保留原有密码</p>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= submit_tag "确认",  data: { disable_with: "请稍后..."},  :class => "btn btn-primary" %>
    <%= link_to "取消", admin_users_path, :class => "btn btn-default" %>
  </div>
</div>

<% end %>
