<h1 class="page-header">用户管理</h1>

<form action="<%= admin_users_path %>" method="get" class="form-inline">
  <div class="form-group">
    <%= text_field_tag :tel, @tel, class: "form-control", placeholder: "手机号" %>
  </div>
  <%= submit_tag "搜索", class: "btn btn-primary"%>
  <button type="reset" class="btn btn-default" >重置</button>
</form>

<div>
  <%= link_to "管理员", "#{admin_users_path}?type=manager", class: "#{'highlight' if @type.eql?('manager')} filter-link" %>
  <%= link_to "顾客", "#{admin_users_path}?type=customer", class: "#{'highlight' if @type.eql?('customer')} filter-link" %>
</div>

<table class="table">
  <thead>
    <tr>
      <td>手机号</td>
      <td>角色</td>
      <td>所属卖家</td>
      <td>状态</td>
      <td>操作</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.tel  %></td>
        <td><%= role_name user  %></td>
        <td><%= user.group.name unless user.group.nil? %></td>
        <td><%= user_status user %></td>
        <td>
          <%= link_to edit_admin_user_path(user) do %>
            <span class="glyphicon glyphicon-pencil icon"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <% unless @tel.present? %>
  <tfoot>
    <tr>
      <td colspan="6">
        <%= page_info @users %>
        <%= will_paginate @users, page_links: false %>
      </td>
    </tr>
  </tfoot>
  <% end %>
</table>
