<h1 class="page-header">用户管理</h1>

<form action="<%= admin_users_path %>" method="get" class="form-inline">
  <div class="form-group">
    <%= text_field_tag :tel, @tel, class: "form-control", placeholder: "手机号" %>
  </div>
  <%= submit_tag "搜索", class: "btn btn-primary" %>
  <button type="reset" class="btn btn-default" >重置</button>
</form>

<div>
  <%= link_to "管理员", "#{admin_users_path}?type=manager", class: "#{'highlight' if @type.eql?('manager')} filter-link" %>
  <%= link_to "顾客", "#{admin_users_path}?type=customer", class: "#{'highlight' if @type.eql?('customer')} filter-link" %>
</div>

<%= alert_info %>

<%= render_user @tel, @type, @users %>
