<h1 class="page-header">用户信息</h1>

<div class="control-panel">
  <%= link_to edit_admin_user_path(@user), class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-pencil"></span> 编辑
  <% end %>
  <%= link_to admin_back_url(admin_users_path), class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> 返回
  <% end %>
</div>

<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">名字</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @user.tel %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">状态</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= user_status @user %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">角色</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= role_name @user %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">所属卖家</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @user.group.name unless @user.group.nil? %></p>
    </div>
  </div>
</div>

<!-- 账户充值 -->
<div class="modal fade" id="depositModal" tabindex="-1" role="dialog" aria-labelledby="depositModalLabel">
  <div class="modal-dialog" role="document">
    <%= form_tag "/admin/users/#{@user.id}/account_balance", class: "modal-content", method: "PUT" do %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="depositModalLabel">账户充值</h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">充值金额</label>
            <div class="col-sm-10">
              <div class="input-group">
                <span class="input-group-addon">¥</span>
                <input type="number" step="0.01" min="0" name="amount" class="form-control" required>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-primary">确定</button>
      </div>
    <% end %>
  </div>
</div>

<!-- 发放优惠券 -->
<div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="couponModalLabel">
  <div class="modal-dialog" role="document">
    <%= form_tag "/admin/users/#{@user.id}/coupons", class: "modal-content", method: "PUT", onsubmit: "return user.checkDispense()" do %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="couponModalLabel">发放优惠券</h4>
      </div>
      <div class="modal-body" id="couponModalBody">
        <p>加载中...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-primary">确定</button>
      </div>
    <% end %>
  </div>
</div>
