<h1 class="page-header">用户信息</h1>
<div class="control-panel">
  <%= link_to "编辑", edit_admin_user_path(@user), class: "btn btn-primary"%>
  <%= link_to "返回", admin_users_path, class: "btn btn-default" %>
</div>
<div class="form">
  <div class="form-group">
    <label class="col-sm-2 control-label">名字</label>
    <div class="col-sm-10">
      <p><%= @user.email %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">角色</label>
    <div class="col-sm-10">
      <p><%= role_name @user %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">所属卖家</label>
    <div class="col-sm-10">
      <p><%= @user.group.name %></p>
    </div>
  </div>

</div>
