<h1 class="page-header">供应商管理</h1>
<ol class="breadcrumb">
  <li><a href="/admin">管控台</a></li>
  <li><a href="/admin/products">商品</a></li>
  <li class="active">供应商</li>
</ol>

<%= alert_info %>

<%= link_to new_admin_supplier_path,  class: "btn btn-primary" do %>
<span class="glyphicon glyphicon-plus"></span> 新建
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>名称</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @suppliers.each_with_index do |supplier, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= supplier.name  %></td>
      <td>
        <%= link_to admin_supplier_path(supplier) do %>
        <span class="glyphicon glyphicon-eye-open icon"></span>
        <% end %>
        <%= link_to edit_admin_supplier_path(supplier) do %>
        <span class="glyphicon glyphicon-pencil icon"></span>
        <% end %>
        <%= link_to admin_supplier_path(supplier), method: :delete, data: {confirm: %(确定要删除"#{supplier.name}"吗？)} do %>
        <span class="glyphicon glyphicon-trash icon"></span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6">
        <%= page_info @suppliers %>
        <%= will_paginate @suppliers, page_links: false %>
      </td>
    </tr>
  </tfoot>
</table>
