<%=alert_info%>
<%= form_tag "/orders/confirm_bulk", method: "POST", id: "buy_form", class: "inherit-height table-center-wrap pull-right" do%>
<%= hidden_field_tag :id, @product.id %>
<%= hidden_field_tag :spec_id %>
<div class="table-center">
  <input type="button" disabled="disabled" id="buy_btn" class="btn btn-primary"
         onclick="return bulkProduct.selectSpec();" value="<%=price_range(@product)%>"></input>
</div>
<% end%>
