<section class="col-xs-12 col-sm-4 col-lg-3">
  <div class="inherit-height table-center-wrap">
    <div class="image pull-left table-center inherit-height">
      <%= image_tag product.cover_image %>
    </div>
    <div style="width:100%;" class="table-center content inherit-height">
      <h3><%= product.name %></h3>
      <div style="overflow:hidden;">
        <p class="pull-left"><%= number_to_currency product.price, locale: :'zh-CN', precision: 2 %></p>
        <div class="pull-right" style="vertical-align:top;" id="control_<%=product.id%>">
          <% count = cart_count(product, @cart) %>
          <span class="glyphicon glyphicon-minus" style="font-size:18px;<% if count.eql? 0%>display:none;<% end %>" onclick="product.removeFromCart(<%=product.id%>)"></span>
          <span class="count" <% if count.eql? 0%>style="display:none;"<% end %>><%= count %></span>
          <span class="glyphicon glyphicon-plus" style="font-size: 18px;" onclick="product.addToCart(<%=product.id%>)"></span>
        </div>
      </div>
    </div>

  </div>
</section>
