<% @recommendProducts.each do |product| %>
  <section class="recommand row">
    <a href="/products/<%=product.id%>">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <h2><%= product.name %></h2>
        <p class="desc"><%= product.description%></p>
        <button class="btn btn-lg">立即购买<i class="glyphicon glyphicon glyphicon-circle-arrow-right"></i></button>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <%= image_tag product.cover_image %>
      </div>
    </a>
  </section>
<% end %>
<div class="row">
  <h2 style="padding-left:5px;"><%= title @category %></h2>

  <div class="products-list">
    <% @products.each do |product| %>
    <%= render product %>
    <% end %>
  </div>

  <a href="/carts" class="floating-action-btn">
    <% if cart_number > 0 %>
    <i class="cart-number"><%=cart_number%></i>
    <% else %>
    <i class="glyphicon glyphicon-shopping-cart"></i>
    <% end %>
  </a>

  <input type="hidden" id="cart_number" value="<%=cart_number%>">

</div>
