<!-- Banner -->
<div class="banner row">
  <div class="col-md-8 col-sm-8 col-xs-7 inherit-height">
    <h2 class="inherit-height table-center-wrap">
      <div class="table-center">
        <span><%= @product.name%></span>
        <p class="desc"><%= @product.description %></p>
      </div>
    </h2>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-5 inherit-height pull-right">
    <%= form_tag carts_add_product_url, class: 'inherit-height table-center-wrap pull-right', id: 'add_to_cart_form'  do%>
    <%= hidden_field_tag :id, @product.id %>
    <%= hidden_field_tag :spec_id %>
    <div class="table-center">
      <% if @product.is_bulk %>
      <%= link_to user_price(@product), "/orders/confirm_bulk/#{@product.id}", class: "btn btn-primary pull-right", disabled: true, id: "buy_btn"%>
      <% else %>
      <button class="btn btn-primary pull-right" type="submit" onclick="return product.selectSpec();">
        <%= user_price @product %> <%= "起" unless @product.specifications.empty?%>
      </button>
      <% end %>
    </div>
  <% end %>
  </div>
</div>

<!-- Article -->
<article class="row">
  <% if @product.is_bulk && @product.started? %>
  <div id="price_hist">
    <div class="col-md-12">
      <label>价格走势</label>
    </div>
    <canvas id="price_hist_graph" style="width:0;height:0;margin: 4px 12px 24px 12px;"></canvas>
  </div>
  <% end %>
  <% if @product.is_bulk && !@product.started?%>
  <div class="col-md-12">
    <label>活动尚未开始</label><br>
    <label>开始时间：<%=display_datetime @product.start_date%></label>
  </div>
  <% end %>
  <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-10 col-sm-1 article">
    <%=raw @product.article %>
  </div>
</article>

<!-- Specification Selection -->
<% unless @product.specifications.empty? %>
<article class="specbar container" id="specbar">
  <header>
    <div class="col-md-10 col-sm-10 col-xs-8 inherit-height table-center-wrap">
      <h3 class="table-center" style="color:#fff;"><%= @product.name %></h3>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4 inherit-height">
      <button type="button" class="icon btn btn-lg pull-right inherit-height" style="color:#fff;" onclick="product.closeSpecbar();">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
    </div>
  </header>
  <section class="col-md-12 spec-section">
    <% specification_group(@product.specifications).each do |group_name, specs| %>
    <p class="title"><%= group_name %></p>
    <ul>
      <% specs.each do |spec| %>
      <li id="spec_selector_<%=spec.id%>" class="selectable" onclick="product.chooseSpec('<%=spec.id%>')"><%= spec.value %></li>
      <% end %>
    </ul>
    <% end %>
    <div style="padding-left:40px;margin:10px 0;">
      <% specification_group(@product.specifications).each do |group_name, specs| %>
      <% specs.each do |spec| %>
      <div id="spec_price_<%=spec.id%>" style="display:none;"><strong>单价： <%=number_to_currency spec.price, precision: 2%></strong></div>
      <% end %>
      <% end %>
    </div>
    <div style="padding-left:40px;">
      <button class="btn btn-primary btn-block btn-lg" onclick="product.addToCart()" disabled="disabled" id="spec_add_to_cart_btn">
        <span class="glyphicon glyphicon-shopping-cart"></span> 加入购物车
      </button>
    </div>
  </section>
</article>
<% end %>

<input type="hidden" id="is_bulk_product" value="<%=@product.is_bulk%>">
<input type="hidden" id="user_location" value="<%=current_user.location if current_user.present?%>">
<input type="hidden" id="start_date" value="<%=display_datetime @product.start_date%>">
<input type="hidden" id="price_km" value="<%=@product.price_km%>">
<input type="hidden" id="price_bj" value="<%=@product.price_bj%>">
<div class="modal fade" tabindex="-1" role="dialog" id="positionSelector">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">请选择送货地址</h4>
      </div>
      <div class="modal-body">
        <div class="confirm-content">
          <div class="selectable" data="北京市">
            <span>北京</span>
            <i class="glyphicon glyphicon-ok-sign pull-right"></i>
          </div>
          <div class="selectable" data="昆明市">
            <span>昆明</span>
            <i class="glyphicon glyphicon-ok-sign pull-right"></i>
          </div>
        </div>
        <p>* 该地址选择后无法更改，请慎重选择！</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="product.locationSelected()">确定</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
