<header id="applicationHeader">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header" style="height:56px">
      <section class="inherit-height pull-left">
        <% if @back_url.present? %>
        <a class="btn btn-lg pull-left icon table-center inherit-height" href="<%=@back_url%>">
          <i class="glyphicon glyphicon-arrow-left" style="position:relative;top:7px;"></i>
        </a>
        <% else %>
        <button class="btn pull-left icon table-center inherit-height" onclick="menu.open();">
          <i class="glyphicon glyphicon-menu-hamburger"></i>
        </button>
        <% end %>
      </section>

      <section class="navbar-brand pull-left inherit-height">
        <a href="#"><%=@title || Rails.application.config.name%></a>
      </section>

      <section class="pull-right inherit-height table-center-wrap" id="menu_control_pannel">
        <% if @header_ctrs.present? %>
        <% @header_ctrs.each do |ctr| %>
        <button type="button" class="confirm-btn btn btn-lg inherit-height" style="height:48px !important;" onclick="<%=ctr[:onclick]%>" style="outline:none;">
          <%=ctr[:text]%>
        </button>
        <% end %>
        <% else %>
        <button type="button" class="icon btn btn-lg table-center inherit-height" onclick="window.location.href='/orders'" style="outline:none;">
          <i class="glyphicon glyphicon-list-alt"></i>
        </button>
        <% end %>
      </section>
    </div>

    <% if @submenu.present? %>
      <div class="navbar-submenu container">
        <!-- <div class="pull-left control-btn"><i class="glyphicon glyphicon-arrow-left"></i></div> -->
        <!-- <div class="pull-right control-btn"><i class="glyphicon glyphicon-arrow-right"></i></div> -->
        <ul class="no-list-style row">
          <% @submenu.each do |link| %>
            <li><%= link_to link[:name], link[:href], class: link[:class] %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
</header>
