<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title><%=Rails.application.config.name%></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <link href="<%=image_url('favicon.ico')%>" rel="icon">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header>
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header" style="height:50px">

          <section class="inherit-height col-xs-2" style="padding-left:0;">
            <% unless controller_name.eql? "home" %>
            <a type="button" class="icon btn btn-lg table-center inherit-height" href="<%=back_url%>">
              <i class="glyphicon glyphicon-chevron-left"></i>
            </a>
            <% end %>
          </section>

          <section class="navbar-brand inherit-height col-xs-8">
            <a class="" href="/"><%=brand_title%></a>
          </section>

          <section class="inherit-height search-container" id="search">
            <form class="inherit-height table-center-wrap" action="/products/search">
              <button class="btn icon inherit-height highlight-icon" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              <button class="btn icon inherit-height" style="right:0" onclick="return search.close();"><i class="glyphicon glyphicon-remove"></i></button>
              <input  type="search" name="search_text" class="search table-center inherit-height pull-left" placeholder="搜索商铺" id="search_input">
            </form>
          </section>

          <section class="inherit-height table-center-wrap col-xs-2" id="menu_control_pannel" style="text-align:right;">
            <% if controller_name.eql? "products" %>
            <button type="button" class="icon btn btn-lg table-center inherit-height" onclick="search.open();" style="padding:0;">
              <i class="glyphicon glyphicon-search"></i>
            </button>
            <% end %>
          </section>

        </div>
      </div>
    </header>

    <nav id="menu" class="navbar-side">
      <header>
        <% if user_signed_in? %>
        <a  class="inherit-height pull-left" href="/me">
          <%= image_tag "user.png" %>
          <p class="inherit-height nav-header-link-text"><span class="table-center inherit-height"><%= current_user.tel %></span></p>
        </a>
        <% else %>
        <a href="/users/sign_in" target="_self" class="inherit-height pull-left">
          <%= image_tag "user.png" %>
          <p class="inherit-height nav-header-link-text"><span class="table-center inherit-height">登录</span></p>
        </a>
        <% end %>
        <button type="button" class="icon btn btn-lg pull-right inherit-height" onclick="menu.close();">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
      </header>

      <section class="nav-section">
        <ul class="nav">
          <% if user_signed_in? %>
          <li><a href="/me" class="icon-link-left"><i class="glyphicon glyphicon-home"></i>我的<%=Rails.application.config.name%></a></li>
          <% end %>
          <li><a href="/orders" class="icon-link-left"><i class="glyphicon glyphicon-list-alt"></i>订单</a></li>
          <li><a href="/carts" class="icon-link-left"><i class="glyphicon glyphicon-shopping-cart"></i>购物车</a></li>
          <% @channels.each do |c| %>
          <li><a href="<%=c.url%>" class="icon-link-left"><i class="glyphicon glyphicon-grain"></i><%=c.name%></a></li>
          <% end %>
          <li><a href="/about" class="icon-link-left">关于</a></li>
        </ul>
      </section>
    </nav>

    <div class="container" style="min-height:200px;padding-top:5px;">
      <%= yield %>
    </div>

    <%= image_tag "spinner.gif", style: "position:fixed;left:-100000px;"%>
    <div><!-- Loading animation  -->
      <div class="block-layer block-layer-light" onclick="menu.close()"></div>
      <div class="spinner-container img-circle">
        <div class="spinner"></div>
      </div>
    </div>

    <div class="footer-nav">
      <div class="container">
        <div class="row">
          <a href="/" class="col-xs-4">
            <span class="glyphicon glyphicon-home"></span>
          </a>
          <a href="/carts" class="col-xs-4">
            <span class="glyphicon glyphicon-shopping-cart"></span>
          </a>
          <a href="/me" class="col-xs-4">
            <span class="glyphicon glyphicon-user"></span>
          </a>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <p class="copyright">技术支持 云南俊邦科技有限公司</p>
        <ul>
          <li>京ICP备15036211号</li>
        </ul>
      </div>
    </footer>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag params[:controller] %>

</body>
</html>
