<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title><%=Rails.application.config.name%></title>
    <meta name="description" content="科技农业，绿色生活">
    <meta name="Keywords" content="生态食品 绿色食品 拾惠社">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <link href="<%=image_url('favicon.ico')%>" rel="icon">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="no-touch">

    <%= render partial: "/layouts/api_header"%>

    <%= render partial: "/layouts/api_menu"%>

    <div class="container" style="background-color: #eee;min-height:200px;padding-top:5px;">
      <%= yield %>
    </div>

    <%= image_tag "spinner.gif", style: "position:fixed;left:-100000px;"%>
    <div><!-- Loading animation  -->
      <div class="block-layer block-layer-light" onclick="menu.close()"></div>
      <div class="spinner-container img-circle">
        <div class="spinner"></div>
      </div>
    </div>

    <%= render partial: "/layouts/api_footer"%>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag params[:controller] %>

</body>
</html>
